*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(0,0,52);
}
h1{
    font-family: "Rubik Vinyl", serif;
    position: absolute;
    left: 0px;
    top: 100px;
    font-weight: 200;
    font-size: 80px;
    color: white;
    text-shadow: -1px 0 2px gray, 0 1px 25px gray, 1px 0 5px gray, 0 -1px gray;
    transform: rotate(-30deg);
  } 
  span{
    color: red;
  } 
.butterfly-container{
    height: 500px;
    width: 500px;
    background-color: rgb(0,0,52);
    position:absolute;
    top: 20%;
    right: 30%;
    transform: translate(50%, -50%);
    border-radius: 30px;
    animation: wingflop1 2s linear infinite;
}
@keyframes wingflop1 {
    0%, 100% {transform: rotate3d(0, 0, 0, 80deg);}
    50%{transform: rotate3d(0, 1, 0, 20deg);}
}
.butterfly{
    position: absolute;
    width: 50px;
    height: 50px;
    margin: auto;
    background-color: black;
    left: 0;
    right: 0;
    border-radius: 50%;
    top: 100px;
    z-index: 7;
}
.butterfly::before{
    position: absolute;
    content: "";
    width: 40px;
    height: 300px;
    background-color: black;
    left: 5px;
    right: 0;
    border-radius: 50%;
    top: 20px;
    z-index: 7;
}
.wing1{
    position: absolute;
    content: "";
    width: 200px;
    height: 260px;
    background-color: rgb(0,9,117);
    left: -220px;
    border-radius: 20% 100% 10% 80%;
    transform-origin: right bottom;
    transform: rotate(150deg);
    top: -160px;
    z-index: 3;
}
.wing1:after{
    position: absolute;
    content: "";
    width: 160px;
    height: 260px;
    background-color: yellow;
    left: 20px;
    border-radius: 20% 100% 10% 80%;
    transform-origin: right bottom;
    transform: rotate(-10deg);
    top: -50px;
    z-index: 3;
}
.wing2{
    position: absolute;
    content: "";
    width: 200px;
    height: 260px;
    background-color: rgb(0,9,117);
    left: 230px;
    border-radius: 80% 10% 100% 20%;
    transform-origin: right bottom;
    transform: rotate(20deg);
    top: 48px;
    z-index: 3;
}
.wing2::before{
    position: absolute;
    content: "";
    width: 160px;
    height: 260px;
    background-color: yellow;
    left: -29px;
    border-radius: 80% 10% 100% 20%;
    transform-origin: right bottom;
    transform: rotate(10deg);
    top: 40px;
    z-index: 3;
}
.wing3{
    position: absolute;
    content: "";
    width: 200px;
    height: 200px;
    background-color: red;
    left: 290px;
    border-radius:100% / 125% 125% 70% 50%;
    transform-origin: right top;
    transform: rotate(20deg);
    top: 220px;
    z-index: 1;
}
.wing4{
    position: absolute;
    content: "";
    width: 200px;
    height: 200px;
    background-color: red;
    left: 80px;
    border-radius:100% / 70% 50% 125% 125% ;
    transform-origin: left top;
    transform: rotate(20deg);
    top: 160px;
    z-index: 1;
}
.butterfly-anthena:before{
    position: absolute;
    content: "";
    width: 5px;
    height: 50px;
    background-color: black;
    left: 258px;
    top:60px;
    z-index: 1;
}
.butterfly-anthena:after{
    position: absolute;
    content: "";
    width: 5px;
    height: 50px;
    background-color: black;
    left: 235px;
    top:60px;
    z-index: 1;
}
.butterfly-anthena2{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    background-color:black;
    left: 253px;
    top:50px;
    border-radius: 50%;
    z-index: 1;
}
.butterfly-anthena2::before{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    background-color:black;
    left: -23px;
    top:1px;
    border-radius: 50%;
    z-index: 7;
}
.div1{
    height: 50px;
    width: 50px;
    position: absolute;
    background-color: red;
    clip-path: polygon(50% 2.45%, 61.8% 38.77%, 100% 38.77%, 69.1% 61.23%, 80.9% 97.55%, 50% 75.1%, 19.1% 97.55%, 30.9% 61.23%, 0% 38.77%, 38.2% 38.77%);
    background-image: repeating-conic-gradient(red 5%, yellow 10%, green 15%, red 20%);
    transition: width 2s, height 2s, transform 2s;
    animation: myart 8s linear 2s infinite both;
}
@keyframes myart{
    0% {background-image: linear-gradient(yellow, red, green, blue); transform: rotate(360deg); left:500px; top:0px;}
    25% {background-image: linear-gradient(red, green, blue, yellow); left:1000px; top:400px;}
    50% {background-image: linear-gradient(green, blue, yellow, red); left:1000px; top:0px;}
    75% {background-image: linear-gradient(blue, yellow, red, green); left:500px; top:500px;}
    100% {background-image: linear-gradient(yellow, red, green, blue); left:500px; top:0px;}
}
.div2{
    height: 50px;
    width: 50px;
    position: absolute;
    background-color: red;
    clip-path: polygon(50% 2.45%, 61.8% 38.77%, 100% 38.77%, 69.1% 61.23%, 80.9% 97.55%, 50% 75.1%, 19.1% 97.55%, 30.9% 61.23%, 0% 38.77%, 38.2% 38.77%);
    background-image: repeating-conic-gradient(red 5%, yellow 10%, green 15%, red 20%);
    transition: width 2s, height 2s, transform 2s;
    animation: animation 8s linear 2s infinite reverse;
}
@keyframes animation{
    0% {background-image: linear-gradient(green, blue, yellow, red); transform: rotate(360deg); left:0px; top:0px;}
    25% {background-image: linear-gradient(blue, yellow, red, green); left:1000px; top:400px;}
    50% {background-image: linear-gradient(yellow, red, green, blue); left:1000px; top:0px;}
    75% {background-image: linear-gradient(red, green, blue, yellow); left:0px; top:400px;}
    100% {background-image: linear-gradient(green, blue, yellow, red); left:0px; top:0px;}
}